<!DOCTYPE html>
<html lang="es-MX">
	<head>
		<meta name="google-site-verification" content="J8rVEGnWvHti50EtXxZqs-DmHqnNTYalL9XMJ8CtNSY">
		<meta charset="utf-8"/>
		<meta name="description" content="La Plataforma de Servicios Educativos PSEDUCA IT- del Centro de Bachillerato José Vasconcelos SC. es una herramienta de apoyo a la educación y a la comunicación basada en Internet."/>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<title>PSEDUCA IT - Preparatoria José Vasconcelos</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
		<link rel="stylesheet" href="static/css/lobby.css"/>
	</head>
	<body>
		<header>
			<nav>
				<div class="Logo">
					<img src="static/img/Logo01.png" alt="Logo de la compañia">

				</div>

				<ul>
					<li><a href="{{ url_for('mantenimiento') }}">NOSOTROS</a></li>
					<li><a href="{{ url_for('mantenimiento') }}">PROYECTOS</a></li>
					<li><a href="{{ url_for('mantenimiento') }}">BLOG</a></li>
					<li><a href="{{ url_for('mantenimiento') }}">CONTACTOS</a></li>
					<li><a href="{{ url_for('mantenimiento') }}">INTRANET</a></li>

				</ul>
			</nav>

			

		</header>

		














			
		<footer class="pie-pagina">
			<div class="grupo-1">
				<div class="box">
					<figure>
						<a href="#">
							<img src="img/logotipo-sleedw.svg" alt="Logo de SLee Dw">
						</a>
					</figure>
				</div>
				<div class="box">
					<h2>SOBRE NOSOTROS</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
				</div>
				<div class="box">
					<h2>SIGUENOS</h2>
					<div class="red-social">
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-instagram"></a>
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-youtube"></a>
					</div>
				</div>
			</div>
			<div class="grupo-2">
				<small>&copy; 2021 <b>SLee Dw</b> - Todos los Derechos Reservados.</small>
			</div>
		</footer>
	</body>
</html>